@tailwind base;
@tailwind components;
@tailwind utilities;

button.amount-button {
    -webkit-appearance: button;
    background-color: black; 
    background-image: none;
}

.amount-button span{
    margin-top: 2px !important;
}